section#main
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .nav-collapse
          ul.nav
            li
              a(href="#") Home
          ul.nav(data-bind='foreach: $root.views')
            li
              a(data-bind="attr: { title: title}, click: $root.selectView, text: title")
          form.navbar-search
            input.search-query.span2(type="text", placeholder="Search")
  .container(data-bind="fadeVisible: selectedView() == null")
    .row
      .hero-unit
        h1 Compare + Save.
        p
          | Select takes the hassle out of finding the right financial products for you - saving you time and money.
          | Make your selection from options below...
  .container(data-bind="fadeVisible: selectedView() == null")
    .row
      ul.unstyled(data-bind='foreach: $root.views')
        li.span4.category
          a(data-bind="attr: { 'class': type }, text: title, click: $root.selectView")

  .container(data-bind="fadeVisible: selectedView() != null, with: selectedView")
    .row(data-bind="template: { name: template, afterRender: prepareView }")


.hide.section#components
  .container
    .row
      .navbar
        .navbar-inner
          .container
            .nav-collapse
              ul.nav(data-bind='foreach: views')
                li(data-bind="click: $root.selectView")
                  a(data-bind="text: title")

    section(data-bind="with: selectedView")
      .row(data-bind="template: { name: templateName, data: data}")

script(type="text/html", id="common-header")
  h1.title(data-bind="attr: { 'class': type + \" title \" }, text: title")
  p.byline Need some help? Check out our guide.

script(type='text/html', id='car-loans')
  .container
    .row(data-bind="template: { name: 'common-header' }")
  .container-fluid
    .row-fluid
      .span3.toolbar
        h6(data-bind="html: items().length + \" products found\" ")
        form
          fieldset
            legend Refine your search
            .control-group
              label.strong.control-label(for="loanAmount", data-bind="text: \"Loan Amount: \" + loanAmountDisplay() ")
              .controls
                #loanAmountSlider
            .control-group
              label.strong.control-label(for="loanAmount", data-bind="text: \"Loan Term: \" + loanTerm() + \" years\" ")
              .controls
                #loanTermSlider
            .control-group
              label.strong.control-label(for="loanTypes") Loan types:
              .controls(data-bind="foreach: loanTypes()")
                label.checkbox
                  span(data-bind= "text: title")
                  input(type="checkbox", data-bind="attr: { id: id, value: title }, checked: selected")
            .control-group
              p.control-label.strong(for="text: count")

      .span9
        table.table.table-bordered
          thead
            th Company
            th Name
            th Max Loan Amount (kshs)
            th Max Loan Term (yrs)
          tbody(data-bind="foreach: items")
            tr
              td(data-bind="text: company")
              td(data-bind="text: name")
              td(data-bind="text: maxAmount")
              td(data-bind="text: maxLoanTerm")


script(type='text/html', id='credit-cards')
  .container
    .row(data-bind="template: { name: 'common-header' }")
  .container-fluid
    .row-fluid
      .span2
      .span10
        table.table.table-bordered
          thead
            th id
            th Name
          tbody(data-bind="foreach: items")
            tr
              td(data-bind="text: id")
              td(data-bind="text: name")

.container
  .row
    hr
    footer
      span Fancy copyright stuff and privacy policies


script(type='text/javascript', src='/javascripts/jquery.1.7.2.js')
script(type='text/javascript', src='/javascripts/jquery-ui-1.8.16.custom.min.js')
script(type='text/javascript', src='/javascripts/underscore-min.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/json2.js')
script(type='text/javascript', src='/javascripts/sammy.js')
script(type='text/javascript', src='/javascripts/date.js')
script(type='text/javascript', src='/javascripts/knockout.js')
script(type='text/javascript', src='/javascripts/js.class.min.js')
script(type='text/javascript', src='/javascripts/model.js')
script(type='text/javascript', src='/javascripts/app.js')
