.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .nav-collapse
        ul.nav
          li
            a(href="#") Home
        ul.nav(data-bind='foreach: $root.categories')
          li
            a(data-bind="attr: { title: title}, click: $root.selectCategory, text: title")
        form.navbar-search
          input.search-query.span2(type="text", placeholder="Search")
.container(data-bind="fadeVisible: selectedCategory() == null")
  .row
    .hero-unit
      h1 Compare + Save.
      p
        | Select takes the hassle out of finding the right financial products for you - saving you time and money.
        | Make your selection from options below...
.container(data-bind="fadeVisible: selectedCategory() == null")
  .row
    ul.unstyled(data-bind='foreach: $root.categories')
      li.span4.category
        a(data-bind="attr: { 'class': type }, text: title, click: $root.selectCategory")

.container(data-bind="fadeVisible: selectedCategory() != null, with: selectedCategory")
  .row
    .span10
      h1.title(data-bind="attr: { 'class': type }, text: title")


.container
  .row
    hr
    footer
      span Fancy copyright stuff and privacy policies


script(type='text/javascript', src='/javascripts/jquery.1.7.2.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/json2.js')
script(type='text/javascript', src='/javascripts/sammy.js')
script(type='text/javascript', src='/javascripts/date.js')
script(type='text/javascript', src='/javascripts/knockout.js')
script(type='text/javascript', src='/javascripts/app.js')
script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')
