!!! 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='images/favicon.ico')
  body!= body

