body{
    padding-top: 60px;
}

.category {
    font-size: 20px;
}

.category a {
    display: block;
    height: 64px;
    color: #333333;
    background-position: 10px 0;
    background-repeat: no-repeat;
    height: 64px;
    padding-left: 75px;
    padding-top: 20px;
    cursor: pointer;
    text-decoration: none;
}

.category a:hover {
    color: #0099FF;
}

h1.title {
    padding-left: 80px;
    line-height: 70px;
}

.toolbar {
}

.toolbar h6 {
    border-bottom: 1px solid #eee;
}

p.byline {
    margin-left: 80px;
    margin-top: -18px;
}

.credit-cards {
    background: url('/images/creditcards.png') no-repeat;
}
.car-loans {
    background: url('/images/carloans.png') no-repeat;
}
.home-loans {
    background: url('/images/homeloans.png') no-repeat;
}
.personal-loans {
    background: url('/images/personalloans.png') no-repeat;
}
.term-deposits {
    background: url('/images/termdeposits.png') no-repeat;
}
.savings-accounts {
    background: url('/images/savingsaccounts.png') no-repeat;
}

